:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins';
  src: url('src/assets/Poppins-regular.ttf');
}
@font-face {
  font-family: 'PoppinsBold';
  src: url('src/assets/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('src/assets/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'PoppinsMedium';
  src: url('src/assets/Poppins-Medium.ttf');
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: left;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.bigdiv{
  position: relative;
  margin-top: 40%;
}
.sidebar{
  position: sticky;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: start;
  background-color:#0C342C;/*#06231D;*/
  border-radius: 24px;
  padding-bottom: 600%;
  padding-right: 40%;
  margin-left: 50%;
}
.logo{
  min-width: 100px;
  min-height: 100px;
  margin-left: 20%;
  margin-top: 20%;
}
.bell{
  position: absolute;
  width: 24.5%;
  height: 5%;
  left: 38.5%;
  top: 19.5%;
}
.rectangle{
  position: absolute;
  width: 30%;
  height: 6%;
  border-radius: 16px;
  border: 3px white solid;
  left: 34%;
  top: 18.75%;
}
.circle{
  width: 22px;
  height: 22px;
  background-color: #076653;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 58%;
}
.circle p{
  position: absolute;
  font-size: 13px;
  top: -50%;
  left: 35%;
  font-family: 'PoppinsSemiBold';
}
.home{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 35%;
  left: 35.5%;
}
.hometext{
  position: absolute;
  color: white;
  font-family: 'PoppinsMedium';
  top: 38%;
  left: 33%;
}
.speechbubble{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 45%;
  left: 35.5%;
}
.speechbubbletext{
  position: absolute;
  color: white;
  font-family: 'PoppinsMedium';
  top: 48%;
  left: 25%;
}
.orders{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 55%;
  left: 35.5%;
}
.orderstext{
  position: absolute;
  color: white;
  font-family: 'PoppinsMedium';
  top: 58%;
  left: 30%;
}
.statistics{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 70%;
  left: 35.5%;
  background-color: white;
}
.statisticstext{
  position: absolute;
  color: #06231D;
  font-family: 'PoppinsMedium';
  top: 73%;
  left: 30%;
}
.rectangle2{
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 16px;
  top: 67%;
  left: 15%;
  background-color: white;
}
.line{
  position: absolute;
  width: 60px;
  height: 1px;
  top: 90%;
  left: 40px;
  background-color: white;
}
.exit{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 91%;
  left: 54px;
}
.header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headertext{
  position: absolute;
  margin-top: -1330%;
  left: 240%;
}
.firstheadertext{
  font-family: 'PoppinsBold';
  font-size: 200%;
  color:#06231D;
}
.secondheadertext{
  font-family: 'PoppinsMedium';
  font-size: 110%;
  margin-top: -30%;
  color: #787878;
}
.headertext p{
  white-space: nowrap;
}
.greenhome{
  position: relative;
  margin-top: -1370%;
  left: 1300%;
}
.greenhomepic{
  position: absolute;
  width: 40px;
  height: 40px;
}
.backtodashboard{
  position: absolute;
  top: 25px;
  left: -15px;
  display: inline-block;
  text-align: center;
  line-height: 1;
  font-family: 'PoppinsMedium';
  font-size: 80%;
}
.container{
  position: relative;
}
.revenuecontainer{
  position: relative;
  margin-top: 420%;
}
.productioncontainer{
  position: relative;
  margin-top: 840%;
}
.inventorycontainer{
  position: relative;
  margin-top: 1280%;
}
.greencontainer{
  position: absolute;
  width: 1170%;
  height: 50vh;
  margin-top: -590%;
  left: 240%;
  background-color: #06231D;
  border-radius: 24px;
}
.graphtitle{
  position: absolute;
  color: white;
  font-family: 'PoppinsBold';
  top: 3%;
  left: 4%;
  font-size: 130%;
}